@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a WIP Yugioh Deck Application</h1>
    <p>Website Goals: </p>
    <p>Search through database for specific cards</p>
    <p>Allow Users to login and create accounts</p>
    <p>Allow Users to build custom deck templates</p>
</div>
